<div class="profileRow">
    <div class="profileRow__label">{{label}}</div>

    {{#if isEditting}}
       <div class="profileRow__value_edit">
           <label>
               <input type="{{#if isPassword}}password{{else}}text{{/if}}" value="{{value}}">
           </label>
       </div>
    {{else}}
        <div class="profileRow__value">{{value}}</div>
    {{/if}}

</div>
